# Build results
bin/
obj/
out/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
*.vscode/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Logs
*.log

# Dependency directories
packages/
node_modules/

# Others
*.nupkg
*.snupkg
*.psess
*.vsp
*.vspscc
*.vssscc
*.tmp
*.bak
*.cache
